// ## Imports

@import normalize
@import mixins/_mixins.utility
@import mixins/_mixins.flex
@import mixins/_mixins.buttons
@import mixins/_mixins.responsive
@import variables/_colors
@import variables/_type

// ## Globals		:	*, html, body

*
	box-sizing: border-box
	+fastTransition

html,
body
	height: 100%

body
	min-height: 100%

	font-family: $copyFont
	font-size: $fontSize

	color: #FFF

// ## Repeatables	:	a, p, h1-h6

a
	color: inherit
	text-decoration: none

p
	font-weight: 300
	line-height: 1.5

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: 700
	line-height: 1.5
	margin: 0
	padding: 0

.heading
	text-transform: uppercase

/// SECTIONS

main
	+flex
	width: 100%
	height: 100%

	


	background-image: url('../img/road1.jpg')
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-color: rgba(0,0,0,0.18)
	background-blend-mode: soft-light

section
	//margin-top: 4.2rem
	width: 100%

// ## - HEADER

header
	+flex
	+flexRow
	width: 100%
	justify-content: space-between
	align-items: center

	

	background-color: #EFEFEF
	color: #666
	border-bottom: 2px solid #666
	//box-shadow: 0px 10px 10px transparentize(#666, .9)

	padding: .25rem 2rem

	h1.logo
		font-family: $headlineFont
		letter-spacing: -0.005rem

		span.my
			font-size: 1.9rem
			margin-right: -.3rem
		span.t
			margin: auto
		span.rips
			font-size: 1.9rem
			margin-left: -.3rem


// ## - NAVIGATION
nav
	+flex
	+flexCol
	width: 80%
	height: 100vh
	background-color: lighten($green, 37%)
	box-shadow: 3px 0px 12px 0 rgba(0, 0, 0, 0.2);
	margin: 0
	position: fixed
	top: 0
	left: 0
	z-index: 25
	transform: translateX(-100%)

	.user
		+flex
		+flexCol
		+flexCenter
		padding: 2.25rem

		width: 100%
		border-bottom: 1px solid #CCC
		.userImg
			padding-bottom: .75rem
			img.avatar
				width: 100px
				height: auto
				border-radius: 50%
		.userMeta
			padding-top: 1.25rem
			span
				font-size: 1.75rem
				font-weight: 300
				text-transform: uppercase
				letter-spacing: 0.025rem

	ul
		padding: 1.25rem 0
		li
			margin: 0
			+flex
			+flexRow
			a
				+flex
				+flexRow
				justify-content: flex-end
				align-items: center
				width: 100%
				font-size: 1.2rem
				font-weight: 300
				padding: .75rem .5rem
				text-transform: uppercase
				letter-spacing: 0.035rem
				.navIcon
					+flex
					+flexCenter
					width: 18%
					order: 2

// ## - HOME / LOGIN

#home
	+flex
	+flexCol
	+flexCenter
	width: 100%
	height: 100%
	margin-top: 0
	.intro
		text-align: center
		margin-bottom: 1.75rem
		h1
			font-size: 5rem
			font-family: $headlineFont
			font-weight: normal
			letter-spacing: -1px
			text-shadow: 0px 4px 10px transparentize(black, .7)

			.my
				margin-right: -10px
				font-size: 4.75rem
			.t
				margin: auto
			.rips
				margin-left: -10px

		.tagLine
			font-size: 1.45rem
			width: 50%
			font-weight: 300
			text-shadow: 0 3px 8px transparentize(black, .25)

	.login
		+flex
		+flexCol
		+flexCenter
		text-align: center
		margin-top: 4rem
		a
			display: block
			font-size: 1.95rem
			font-weight: 300
			padding: .75rem 1.5rem
			border: 3px solid white
			border-radius: .1rem
			text-transform: uppercase
			letter-spacing: 1px
			background-color: transparentize(white, .97)

	.loginForm
		+flex
		+flexCol
		width: 75%

		color: $dkBlueGreen
		margin-bottom: 1.25rem
		
		.formGroup
			+flex
			+flexCol

			margin: 0
			padding: 0

			label
				order: -1
				display: none

			input
				border: none
				box-shadow: none
				font-size: 1.35rem
				padding: .75rem
				background-color: transparentize(#EFEFEF, .025)
				color: inherit
				letter-spacing: 0.08rem
				font-weight: 300
				outline: none
				border-radius: 0
				&[name='username']
					border-radius: .25rem .25rem 0 0
					border-bottom: 2px solid #ccc

		.formBtn
			+flex
			+flexRow
			flex: 1
			button
				flex-shrink: 0
				width: 100%
				border: none
				border-radius: 0 0 .25rem .25rem
				font-size: 1.35rem
				font-weight: 300
				text-transform: uppercase
				letter-spacing: 0.095rem
				padding: .75rem
				background-color: $green
				color: white
				outline: none

	.loginOther
		+flex
		+flexCol
		text-align: center
		//background-color: transparentize($dkBlueGreen, .33)
		width: 75%
		border-radius: .25rem

		span.register
			font-size: 1.4rem
			font-weight: 300
			a
				color: $ltGreen
				font-weight: 400
				padding: .25rem .5rem
				margin: .15rem
				background-color: transparentize(lighten($dkBlue, 8%), .65)
				border-radius: .25rem

		.loginRegister
			padding: .5rem 0 .25rem
			margin-bottom: .75rem

		.loginSocial
			padding: .5rem 0
			margin-bottom: 3rem
			a
				padding: 0 1rem
				text-shadow: 0px 0px 30px rgba(0,0,0,0.5)

				&.fb
					color: $facebookBlue

				&.gp
					color: $googleRed

	.loginForgot
		margin-bottom: 1rem
		a.forgot
			font-size: 1rem
			font-weight: 300
			letter-spacing: 0.045rem
			color: #EFEFEF
			padding: .65rem
			background-color: transparentize($dkBlueGreen, .15)
			text-shadow: 0px 0px 12px rgba(0,0,0,0.5)
			border-radius: .25rem
			opacity: .95

// ## - DASHBOARD

#dashboard
	+flex
	+flexCol
	padding: 0 .5rem
	color: #444

	.dashPanel
		//padding: .5rem 0 0
		margin-top: .5rem
		border-radius: .2rem
		background-color: #efefef
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
		h2
			margin: 0
			line-height: 1
			letter-spacing: 0.025rem

		h3
			margin: 0
			line-height: 1
			letter-spacing: 0.025rem
			font-weight: 500

		span.organizerName
			font-size: 1rem
			font-weight: 400
			color: #888

		.dashPanelHeading
			padding: .5rem
			background-color: $ltGreen
			border-radius: .2rem .2rem 0 0

// ## - DASHBOARD - INVITATIONS
.invitations
	+flex
	+flexCol

	.invitationList
		+flex
		+flexCol
		margin: .5rem 0 0
		padding: 0

		li
			+flex
			+flexRow
			flex: 1

			align-items: baseline
			justify-content: space-between

			border-bottom: 1px solid #DFDFDF
			margin: 0
			padding: .5rem 0
			&:last-of-type
				border: 0

			.invitationConfirm
				+flex
				+flexRow
				flex-flow: nowrap
				padding: 0.25rem
				margin: 0
				line-height: 1.5
				width: 20%
				a
					padding: .25rem
					margin: 0
					align-self: center
					font-size: 1.5rem

					&.fa-check
						color: $green

					&.fa-times
						color: desaturate(darken(tomato, 6%), 50%)
					

			.invitationTitle
				margin: 0
				padding: 0
				width: 50%
				flex: 1
				h3
					line-height: 1.5 !important
					padding: 0.25rem

			.invitationOrganizer
				+flex
				+flexRow
				flex-grow: 0
				justify-content: flex-start
				flex-basis: 25%
				span
					flex-grow: 1
					padding: 0.25rem
					text-align: left
					white-space: initial

// ## - DASHBOARD - MY TRIPS
.mytrips
	+flex
	+flexCol

	.mytripsList
		+flex
		+flexCol
		margin: .5rem 0 0
		padding: 0

		li
			+flex
			+flexRow
			flex: 1

			align-items: center
			justify-content: space-between

			border-bottom: 1px solid #DFDFDF
			margin: 0
			padding: .5rem 0
			&:last-of-type
				border: 0

			.mytripsManage
				+flex
				justify-content: center
				width: 20%
				a
					font-size: 1.75rem
					padding: .5rem

			.mytripsTitle
				width: 80%
				h3
					font-size: 1.25rem
					padding: .5rem


// ## - DASHBOARD - MY TRIPS
.theirtrips
	+flex
	+flexCol

	.theirtripsList
		+flex
		+flexCol
		margin: .5rem 0 0
		padding: 0

		li
			+flex
			+flexRow
			flex: 1

			align-items: center
			justify-content: space-between

			border-bottom: 1px solid #DFDFDF
			margin: 0
			padding: .5rem 0
			&:last-of-type
				border: 0

			.theirtripsTitle
				width: 80%
				h3
					font-size: 1.25rem
					padding: .5rem 1rem

			.theirtripsOrganizer
				+flex
				+flexRow
				flex-grow: 0
				justify-content: flex-start
				flex-basis: 25%
				span
					flex-grow: 1
					padding: 0.25rem
					text-align: left
					white-space: initial