header
	.brand
		h1.logo
			span.my my
			span.T T
			span.rips rips

	.toggleNav
		a.fa.fa-bars.fa-lg(href='#')
	
	nav
		.user
			.userImg
				img.avatar(src='https://placekitten.com/g/360/360')
			.userMeta
				span John Doe		
		ul.navigation
			li
				a(href='dashboard.html')
					.navIcon
						i.fa.fa-home.fa-lg
					.navText
						span dashboard
			li
				a(href='#')
					.navIcon
						i.fa.fa-plus.fa-lg
					.navText
						span new trip
			li
				a(href='#')
					.navIcon
						i.fa.fa-info.fa-lg
					.navText
						span about
			li
				a(href='index.html')
					.navIcon
						i.fa.fa-sign-out.fa-lg
					.navText
						span logout