header
	.brand
		h1.logo
			span.my my
			span.T T
			span.rips rips

	nav
		i.fa.fa-bars.fa-lg
		ul.navigation
			li
				a(href='#') dashboard
			li
				a(href='#') about
			li
				a(href='#') logout