// Home
extends ./layout.jade
block title
	title myTrips

block section
	main#cover
		section#home
			.intro
				h1
					span.my my
					span.T T
					span.rips rips
				span.tagLine Camping trip planning made easy.

			.login
				a.gotoLogin(href='login.html') login