doctype html
html
	head
		// META
		meta(name='description', content='Camping trip planning made easy.')
		meta(name='author', content='Andy Pyle')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='og:title', content='myTrips')
		//meta(name='og:image', content='OPENGRAPH IMAGE')
		meta(name='og:description', content='Camping trip planning made easy.')

		block title
			title myTrips

		// STYLESHEETS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lustria|Source+Sans+Pro:400,300,700,600,200|Fredoka+One')
		link(rel='stylesheet', href='styles/style.min.css')

	body
		block header

		block section

		// SCRIPTS
		script(src='js/app.js')