// View trip mockup.
extends ./layout.jade
block title
	title myTrips &bull; trip title

block section
	main
		section#dashboard
			h2 view trip
			ul
				li overview
					ul
						li dates
						li location
						li drivers
				li who's going?
					ul
						li invited
						li confirmed
				li inventory
				li discussion