// New trip mockup.
extends ./layout.jade
block title
	title myTrips &bull; new trip

block section
	main
		section#dashboard
			h2 new trip
			ul
				li details
					ul
						li dates
						li location
						li description
						li image?
						li max guests
				li invite guests
					ul
						li via email
				li inventory needs