// Trip inventory mockup.
extends ./layout.jade
block title
	title myTrips &bull; trip inventory

block header
	include header.jade

block section
	main
		section#dashboard
			h2 inventory
			ul
				li what we need
				li who's bringing what
				li what I'm bringing