// Manage trip mockup.
extends ./layout.jade
block title
	title myTrips &bull; manage trip

block section
	main
		section#dashboard
			h2 manage
			ul
				li details
					ul
						li dates
						li location
						li description
						li image?
						li max guests
						li drivers
				li invite guests
					ul
						li via email
				li inventory needs